@model Assignment_3_A_Nisarg.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Teacher/List">Back To Teachers' List</a>
<div id="containershow">

    <!-- Dislpay teacher's details-->

    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p><b>Employee Number:</b> @Model.EmployeeNumber</p>
    <p><b>Hire Date:</b> @Model.HireDate</p>
    <p><b>Salary:</b> @Model.Salary</p>
    <p><b>Courses Taught:</b></p>

    @*  A for loop is used to traverse through the Courses *@

    @*    Check that there is at least one course being taught by the teacher*@
    @if (Model.Courses != null)
    {
        for (var i = 0; i < Model.Courses.Count; i++)
        {
            <p> @Model.Courses[i]  </p>

        }
    }
    else
    {
        <p>N/A</p>
    }
    
</div>
